.empty-zone {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid var(--carbon);
	border-radius: calc(var(--card-width) * .05);
	width: var(--card-width);
	height: var(--card-height);
}
